<a href="https://colab.research.google.com/github/Sushmithaarshu/GPA-CGPA/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
from google.cloud import bigquery

In [95]:
client=bigquery.Client()

In [96]:
reference=client.dataset(dataset_id ="hacker_news",project="bigquery_public_data")#for connecting the data

In [97]:
pip install mysql-connector-python-rf

Requirement already satisfied: mysql-connector-python-rf in /usr/local/lib/python3.7/dist-packages (2.2.2)

In [114]:
import mysql.connector

In [116]:
mydb = mysql.connector.connect(
    host = "mysql8001.site4now.net",
    user = "a86ca8_anbujoe",
    password = "Qwerty@123",
    database = "db_a86ca8_anbujoe"
)

In [106]:
cursor=mydb.cursor()

In [107]:
query="CREATE Table sush(name varchar(20) NOT NULL,rollno varchar(10) NOT NULL,dob varchar(10),fname varchar(20),number integer,bloodgroup varchar(5))"

In [108]:
cursor.execute(query)

In [109]:
for i in cursor:
      print(i)

In [110]:
query="show tables"

In [111]:
import pandas as pd

In [112]:
query="INSERT INTO sush(name,rollno)values(sushmi,ECC1934)"

In [117]:
df=pd.read_sql("SELECT * FROM sush",mydb)